<form onsubmit="return false;" id="searchBar">
    <input type="text" id="searchText" placeholder="Search for a Movie">
    <button id="searchButton" type="submit"><img src="/images/icons/icons8-search.svg" alt="Go"></button>
</form>


<link rel="stylesheet" href="/css/partials/searchBar.css">