<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/partials/footer.css">
    <link rel="stylesheet" href="/css/pages/index.css">
    <title>Results for {{search}}</title>

        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1VKLLEBPF9"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-1VKLLEBPF9');
    </script>

</head>

<body>
    {{>header}}
    <main>
        {{>searchbar}}


        <h2 id="stxt">Search Results for "{{search}}"</h2 id="stxt">
        <section class="cardContainer">
            {{>movieCard}}
        </section>

    </main>
    {{>footer}}
    <link rel="stylesheet" href="/css/pages/searchResults.css">
    <script src="/javascript/index.js" defer></script>
</body>

</html>